:root {
    --main-colour: rgb(171, 255, 81);
    --second-colour: rgb(24, 147, 23);
    --background-color:rgb(25, 31, 34);
  }
  
  *::after,
  *::before,
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color:var(--background-color);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    height:100vh;
    font-family: 'Ubuntu Mono', monospace;
    color:#fff;
  }

  #btn{
    padding:0.6em 2em;
    font-size:1.2rem;
    background-color:transparent;
    color:var(--main-colour);
    border-radius:8%;
    border:solid 3px var(--main-colour);
    transition:all 0.5s ease-in 0.1s;
  }

  #btn:hover,
  #btn:focus{
  opacity:0.5;
  }

  .btn-disabled{
    opacity:0.5;
    cursor:wait;
    transition:opacity 1s ease-out 0.5s;
  }

  .btn-enabled{
    cursor:auto;
    transition:opacity 0.5s ease-out;
  }

  #board{
    width:80vw;
    height:80vw;
    overflow:hidden;
    margin:0;
    padding:0;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    box-shadow: .5rem 1rem 1rem rgba(0, 0, 0, .4);
    border: 1em solid var(--background-color);
    background: var(--second-colour) url("./WRLD-EPS-02-3001.png") no-repeat fixed center;
    background-size:cover;
    }

@media (orientation:landscape){
    #board{
        width:40vh;
        height:40vh;
    }
}
 
.shrink-board{
      animation: black-hole 1s ease-out 0.5s;
      animation-fill-mode: forwards;
    }
  
  .radar {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background-color:rgba(19, 61, 16,0.8);
    box-shadow: .1rem .6rem .6rem inset rgba(95, 82, 82, 0.24);
  }

  .radar__grid {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    /*border-radius:50%;*/
    overflow:hidden;
  }

  .radar__grid::before {
    content: '';
    display: block;
    position: absolute;
    overflow:hidden;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: var(--main-colour);
  }

  .radar__grid::after {
    content: '';
    display: block;
    position: absolute;
    overflow:hidden;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: var(--main-colour);
  }
  
  .radar__radial{
    position: absolute;
    top: 50%;
    width:100%;    
    height:1px;
    transform-origin: center;
    font-size:1px;
    line-height:1px;
    border-top: 1px solid var(--main-colour);
    transform: rotate(calc(30deg * var(--i)))
  }
  
  /* These paint the concentric circles */
  .radar__grid .radar__concentric__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    border: 1px solid var(--main-colour);
    border-radius: 50%;
  }
  .radar__grid > :nth-child(1) {
    width: 20%;
    height: 20%;
  }
  
  .radar__grid > :nth-child(2) {
    width: 40%;
    height: 40%;
  }
  
  .radar__grid > :nth-child(3) {
    width: 60%;
    height: 60%;
  }
  
  .radar__grid > :nth-child(4) {
    width: 80%;
    height: 80%;
    border-radius:50%;
  }
  
  /*  Paints the scanner line including */
  #scanner {
    overflow: hidden;
    position: absolute;
    border-radius:50%;
    top: 0;
    width: 100%;
    height: 100%;
      background-image:conic-gradient(from 0deg at center,
     rgba(171, 255, 81, 0) 240deg,
     rgba(171, 255, 81,0.1) 270deg,
     rgba(171, 255, 81,0.5) 335deg,
     rgba(171, 255, 81,0.6) 345deg,
     rgba(171, 255, 81,0.9) 355deg,
     rgba(171, 255, 81, 1) 360deg
  );
}

  .start-scanner{
    animation: scan 5s linear 2; 
    animation-delay:0.5s; 
  }

  #attribution {
      color:#fff;
      text-align:center;
  }

.radar__obj {
    position: absolute;
    border-radius: 50%;
    width: .5rem;
    height: .5rem;
    background-color: #fff;
    box-shadow:
        0 0 1rem .34rem #fff,
        0 0 2rem 1rem var(--main-colour),
        0 0 3rem 1.5rem var(--second-colour);
    filter: saturate(1.45);
    opacity: 0;
  }

  .start-glow{
    animation: blink 11s cubic-bezier(0.33, 1, 0.68, 1) 1;
  }

  .radar__obj::after {
    color: var(--main-colour);
    font-size:.3em;
    padding-left: 0.8rem;
    font-size:12px;
    white-space: nowrap;
    border-radius:50%;
  }
  
  .radar__obj--1 {
    top: 20%;
    left: 63%;
    transform: scale(1.4);
    animation-delay: 1s;
  }
  .radar__obj--1::after {
    content: "T-10";
  }
  
  .radar__obj--2 {
    top: 60%;
    left: 80%;
    transform: scale(1.1);
    animation-delay: 2s;
  }
  .radar__obj--2::after {
    content: "T-9";
  }
  .radar__obj--3 {
    top: 80%;
    left: 50%;
    transform: scale(1.5667);
    animation-delay: 3s;
  }
  .radar__obj--3::after {
    content: "T-8";
  }
  
  .radar__obj--4 {
    top: 56%;
    left: 23%;
    transform: scale(1.5667);
    animation-delay: 4s;
  }
  .radar__obj--4::after {
    content: "T-7";
  }
  
  .radar__obj--5 {
    top: 30%;
    left: 30%;
    transform: scale(1.5667);
    animation-delay: 5s;
  }
  .radar__obj--5::after {
    content: "T-6";
  }
  .radar__obj--6 {
    top: 23%;
    left: 73%;
    transform: scale(1.4);
    animation-delay: 6s;
  }
  .radar__obj--6::after {
    content: "T-5";
  }
  
  .radar__obj--7 {
    top: 55%;
    left: 79%;
    transform: scale(1.1);
    animation-delay: 7s;
  }
  .radar__obj--7::after {
    content: "T-4";
  }
  .radar__obj--8 {
    top: 80%;
    left: 50%;
    transform: scale(1.5667);
    animation-delay: 8s;
  }
  .radar__obj--8::after {
    content: "T-3";
  }
  
  .radar__obj--9 {
    top: 58%;
    left: 23%;
    transform: scale(1.5667);
    animation-delay: 9s;
  }
  .radar__obj--9::after {
    content: "T-2";
  }
  
  .radar__obj--10 {
    top: 30%;
    left: 28%;
    transform: scale(1.5667);
    animation-delay: 10s;
  }
  .radar__obj--10::after {
    content: "T-1";
  }
  
  /* Animations */
  @keyframes scan {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    12.5% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
  }   
  
  @keyframes black-hole{
    0%{
      transform:scale(1)
    }
      100%{
      transform: scale(0)
    }
  }
